[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
argparse = "*"
jinja2 = "*"
networkx = "*"
matplotlib = "*"
scipy = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
pre-commit = "*"
python-docx = "*"
striprtf = "*"

[dev-packages]

[requires]
python_version = "3.10"
